

.basket__grid {
  margin-top: 40px;

  table {
    width: 100%;
  }
  
  thead {
    
    tr {
      padding: 10px 5px;
    }
    
    td {
      @include font($font-700);
    }
  }
  
  tbody {
    
    tr:nth-child(2n-1) {
      background-color: #F8F8F8;
    }
    
    td {
      padding-left: 10px;
      padding-right: 10px;
      
      &:nth-child(1) {
        width: 40%;
        
        img {
          width: 56px;
          margin-right: 10px;
        }
        
        a {
          color: $bg_blue;
          text-decoration: underline;
        }
      }
      
      &:nth-child(2) {
        width: 20%;
      }
      
      &:nth-child(3) {
        width: 20%;
      }
      
      &:nth-child(4) {
        width: 20%;
      }
      
      .count-wrapper {
        display: flex;
      }
      
      .count {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
      }
      
      .button {
        color: $white_color;
        width: 30px;
      }
      
      .del-btn {
        background-color: $red_color;
      }
      
      .add-btn {
        background-color: $button_color;
      }
    }
    
    .basket-sum {
     height: 40px;
    }
  }
  
  .button {
    margin-left: auto;
  }
}