.categories__grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.categories__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid $gray_color_light;
  
  &:not(:first-child) {
    margin-top: 20px;
  }
}

.categories__item__image {
  width: 60px;
}

.categories__item__name {
  @include font($font-600);
  font-size: 24px;
  line-height: 28px;
  color: $bg_blue;
  margin-top: 25px;
}

.categories__item__desc {
  margin-top: 15px;
}