// Proxima Nova
@font-face {
  font-family: "Proxima Nova";
  font-display: swap;
  src: url("./fonts/Proxima/Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Proxima Nova";
  font-display: swap;
  src: url("./fonts/Proxima/Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Proxima Nova";
  font-display: swap;
  src: url("./fonts/Proxima/Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Proxima Nova";
  font-display: swap;
  src: url("./fonts/Proxima/SemiBold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Proxima Nova";
  font-display: swap;
  src: url("./fonts/Proxima/Bold.woff") format("woff");
  font-weight: 700;
}


@font-face {
  font-family: "Proxima Nova";
  font-display: swap;
  src: url("./fonts/Proxima/ExBold.woff") format("woff");
  font-weight: 800;
}

// 300 light
// 400 regular
// 500 medium
// 600 semi bold
// 700 bold
// 800 extra-bold