// Максимальная ширина сайта
$max-site-width: 1452px;

// Паддинг PC
$padding-pc: 70px;

// Паддинг на планшете
$padding-tablet: 50px;

// Паддинг на планшете в портрете
$padding-tablet-portrait: 15px;

// Паддинг на мобиле
$padding-mobile: 15px;


$common_color: #242424;
$white_color: #fff;
$gray_color: #8d8d92;
$red_color: #dc3545;
$gray_color_light: #d3d3d3;

$button_color: #28a745;

$bg_blue: #1978bf;

// Шрифты
$font-300: proxima-light;
$font-400: proxima;
$font-500: proxima-medium;
$font-600: proxima-semi-bold;
$font-700: proxima-bold;
$font-800: proxima-extra-bold;