// Максимальная ширина сайта
$max-site-width: 1452px;

// Паддинг PC
$padding-pc: 70px;

// Паддинг на планшете
$padding-tablet: 50px;

// Паддинг на планшете в портрете
$padding-tablet-portrait: 15px;

// Паддинг на мобиле
$padding-mobile: 15px;


$text_common: #242424;
$white: #fff;

// Шрифты
$font-300: proxima-light;
$font-400: proxima;
$font-500: proxima-medium;
$font-600: proxima-semi-bold;
$font-700: proxima-bold;
$font-800: proxima-extra-bold;