.header-top {
  position: relative;
  font-size: 14px;
  line-height: 15px;
  color: $white_color;
  background-color: $common_color;
}

.header-top__grid {
  display: flex;
  align-items: center;
  min-height: 40px;
}

.header-top__column {
  
  &.header-top__column_service {
    flex: 1;
    padding-left: 60px;
  }
}

.header-top__logo {
  font-size: 18px;
  line-height: 24px;
}

.header-top__service {
  
  > * {
    color: $gray_color;
    margin-right: 24px;
  }
}